// General Styles
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html,
  body {
    color: @main-font-color;
  }
  
  .container {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: @main-font-family;
  }

  .top-nav ul {
    font-family: @nav-font-family;
  }

  .top-nav ul li {
    font-size: 2rem;
    color: @amber-white;
    
  }

  h2 {
    color: @h2-text-color;
    font-size: 2.5rem;
    margin-bottom: 1%;
  }

  h3 {
    color: @h3-text-color;
    font-size:2rem;
    font-weight: bold;
    padding: 2%;
  }

  p {
    font-family: @main-font-family;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2%;
  }

  button {
    padding: 1% 3%;
    background-color: @amber-white;
    color: #00A35E;
    border-color: #00A35E;
    border-radius: 5px;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    background-color: @footer-background-color;
    padding: 0;

    p {
      color: @amber-white;
      padding: 2%;
      margin-bottom: 0;
    }

    p:nth-child(1) {
      margin-right:28%;

      span {
          color: @footer-green-color;
      }

    }

    p:nth-child(2) {
        padding-right: 4%;
        color: @footer-green-color;
    }

  }