div.container {
    width: 95%;
    margin-top: .5%;
}

.top-nav {
    background-color: @top-nav-background-color;
    padding: 1% 2%;
}

.top-nav ul {
    display: flex;
    justify-content: flex-end;
}

li.left {
    margin-right: auto;
}

li.right {
    margin-left: 20px;
}

article.top {
    display: flex;
}

.left-home-section {
    width: 40%;
    padding: 5%;
}

.right-home-section {
    padding-top: 10%;
}