.displayFlex {
    display: block;
    width: 80%;
}

.amberWhite2rem {
    font-size: 2rem;
    color: @amber-white;
}

.fontFamInlineBlock {
    font-family: @nav-font-family;
    display: inline-block;
}