// Variables

// Color Vars
@temper-green: #00A35E;
@amber-white: #fff;
@charcoal-black: #111;
@light-gray: #ddd;
@shunto-gray: rgb(245, 245, 245);
@dark-brown: #2D2D2D;

// Color pointers
@top-nav-background-color: @temper-green;
@h2-text-color: @temper-green;
@h3-text-color: @charcoal-black;
@li-top-nav-text-color: @amber-white;
@main-font-color: @charcoal-black;
@main-background-color-dark: @light-gray;
@main-background-color-light: @amber-white;
@main-block-background-color: @shunto-gray;
@footer-background-color: @dark-brown;
@footer-green-color: @temper-green;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Hind|Roboto+Slab&display=swap');
@main-font-family: 'Roboto Slab', serif;
@nav-font-family: 'Hind', sans-serif;

// Mobile vars
@tablet: ~"(max-width: 768px)";
@mobile: ~"(max-width: 576px)";