// Variables

// Color Vars
@temper-green: #00A35E;
@amber-white: #fff;
@charcoal-black: #111;
@light-gray: #ddd;
@shunto-gray: rgb(245, 245, 245);

// Color pointers
@top-nav-background-color: @temper-green;
@h2-text-color: @temper-green;
@h3-text-color: @charcoal-black;
@li-top-nav-text-color: @amber-white;
@main-font-color: @charcoal-black;
@main-background-color-dark: @light-gray;
@main-background-color-light: @amber-white;
@main-block-background-color: @shunto-gray;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@main-font-family: 'Roboto Slab', serif;

// Mobile vars
 